/* 改变主题色变量 */
$--color-primary: hsla(53%, 100%, 50%, 1);;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* HSL */
$color1: hsla(235%, 21%, 21%, 1);
$color2: hsla(218%, 17%, 62%, 1);
$color3: hsla(53%, 100%, 50%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(43, 45, 66, 1);
$color2: rgba(141, 153, 174, 1);
$color3: rgba(255, 225, 0, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(0, 0, 0, 1);

@import "~element-ui/packages/theme-chalk/src/index";